*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
}

body{
    background-color: #1e1e1e;
}

.hero{
    background-color:#252525;
}

.main-heading{
    font-weight: 800;
    padding-left: 80px;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: 1.8rem;
}

/* header */

header h2{
    padding-left: 30px;
    padding-right: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

header{
    padding-top: 30px; 
    padding-bottom: 20px;
    display: flex;
}

.navigation a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 300;
}

.small-statement{
    color:#c0c0c0;
    padding-left: 20px;
    padding-top: 30px;
    font-size: 1.1rem;
    font-weight: 500;
}

/* image */

.study-planner-iamge{
    display: flex;
    justify-content: center;
    align-items: center;
}

.study-planner-iamge img {
    max-width: 1200px;
    min-width: 500px;
    height: 300px;
    opacity: 0.5;
    padding-top: 20px;
}

/* Why use this Study Planner? */

ul li {
    color:#c0c0c09e;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 0.9rem;
}

/* Overview Section */ 

#week{
    padding-left: 20px;
}


.decip-card{
    padding-bottom: 20px;
    margin-top: 5px;
}

.decip-card p{
    color:#ffffff;
    font-weight: 800;
    padding-top: 3px;
}
.day-card {
    margin-top: 5px;
}

/* features */

#features{
    padding-bottom: 50px;
}

/* footer */

#footer div{
    color:#c0c0c0;
    text-align:center;
    padding-bottom: 30px;
}

/* horizontal line */

.section-divider {
  border: none;
  height: 1px;
  background-color: #3a3a3a;
  margin: 60px 0;
}

.list-feature p{
    padding-left: 10px;
}